
.row:before,
.row:after {
    display : table;
    content : " ";
}

.row:after {
    clear : both;
}

.row {
    margin-right : -15px;
    margin-left  : -15px;
    box-sizing   : border-box;
}

.hidden {
    display : none !important;
}

.col-great400-12, .col-great400-11, .col-great400-10, .col-great400-9, .col-great400-8, .col-great400-7, .col-great400-6, .col-great400-5, .col-great400-4, .col-great400-3, .col-great400-2, .col-great400-1, .col-great500-12, .col-great500-11, .col-great500-10, .col-great500-9, .col-great500-8, .col-great500-7, .col-great500-6, .col-great500-5, .col-great500-4, .col-great500-3, .col-great500-2, .col-great500-1, .col-great600-12, .col-great600-11, .col-great600-10, .col-great600-9, .col-great600-8, .col-great600-7, .col-great600-6, .col-great600-5, .col-great600-4, .col-great600-3, .col-great600-2, .col-great600-1, .col-great700-12, .col-great700-11, .col-great700-10, .col-great700-9, .col-great700-8, .col-great700-7, .col-great700-6, .col-great700-5, .col-great700-4, .col-great700-3, .col-great700-2, .col-great700-1, .col-great800-12, .col-great800-11, .col-great800-10, .col-great800-9, .col-great800-8, .col-great800-7, .col-great800-6, .col-great800-5, .col-great800-4, .col-great800-3, .col-great800-2, .col-great800-1, .col-great900-12, .col-great900-11, .col-great900-10, .col-great900-9, .col-great900-8, .col-great900-7, .col-great900-6, .col-great900-5, .col-great900-4, .col-great900-3, .col-great900-2, .col-great900-1, .col-great1000-12, .col-great1000-11, .col-great1000-10, .col-great1000-9, .col-great1000-8, .col-great1000-7, .col-great1000-6, .col-great1000-5, .col-great1000-4, .col-great1000-3, .col-great1000-2, .col-great1000-1, .col-great1100-12, .col-great1100-11, .col-great1100-10, .col-great1100-9, .col-great1100-8, .col-great1100-7, .col-great1100-6, .col-great1100-5, .col-great1100-4, .col-great1100-3, .col-great1100-2, .col-great1100-1, .col-great1200-12, .col-great1200-11, .col-great1200-10, .col-great1200-9, .col-great1200-8, .col-great1200-7, .col-great1200-6, .col-great1200-5, .col-great1200-4, .col-great1200-3, .col-great1200-2, .col-great1200-1, .col-great1300-12, .col-great1300-11, .col-great1300-10, .col-great1300-9, .col-great1300-8, .col-great1300-7, .col-great1300-6, .col-great1300-5, .col-great1300-4, .col-great1300-3, .col-great1300-2, .col-great1300-1, .col-great1400-12, .col-great1400-11, .col-great1400-10, .col-great1400-9, .col-great1400-8, .col-great1400-7, .col-great1400-6, .col-great1400-5, .col-great1400-4, .col-great1400-3, .col-great1400-2, .col-great1400-1, .col-great1500-12, .col-great1500-11, .col-great1500-10, .col-great1500-9, .col-great1500-8, .col-great1500-7, .col-great1500-6, .col-great1500-5, .col-great1500-4, .col-great1500-3, .col-great1500-2, .col-great1500-1, .col-great1600-12, .col-great1600-11, .col-great1600-10, .col-great1600-9, .col-great1600-8, .col-great1600-7, .col-great1600-6, .col-great1600-5, .col-great1600-4, .col-great1600-3, .col-great1600-2, .col-great1600-1, .col-great1700-12, .col-great1700-11, .col-great1700-10, .col-great1700-9, .col-great1700-8, .col-great1700-7, .col-great1700-6, .col-great1700-5, .col-great1700-4, .col-great1700-3, .col-great1700-2, .col-great1700-1, .col-great1800-12, .col-great1800-11, .col-great1800-10, .col-great1800-9, .col-great1800-8, .col-great1800-7, .col-great1800-6, .col-great1800-5, .col-great1800-4, .col-great1800-3, .col-great1800-2, .col-great1800-1, .col-great1900-12, .col-great1900-11, .col-great1900-10, .col-great1900-9, .col-great1900-8, .col-great1900-7, .col-great1900-6, .col-great1900-5, .col-great1900-4, .col-great1900-3, .col-great1900-2, .col-great1900-1, .col-great2000-12, .col-great2000-11, .col-great2000-10, .col-great2000-9, .col-great2000-8, .col-great2000-7, .col-great2000-6, .col-great2000-5, .col-great2000-4, .col-great2000-3, .col-great2000-2, .col-great2000-1, .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 {
    position      : relative;
    min-height    : 1px;
    padding-right : 15px;
    padding-left  : 15px;
    box-sizing    : border-box;
}

.col-greatxs-12 {
    width : 100%;
}

.col-greatxs-11 {
    width : 91.666666666667%;
}

.col-greatxs-10 {
    width : 83.333333333333%;
}

.col-greatxs-9 {
    width : 75%;
}

.col-greatxs-8 {
    width : 66.666666666667%;
}

.col-greatxs-7 {
    width : 58.333333333333%;
}

.col-greatxs-6 {
    width : 50%;
}

.col-greatxs-5 {
    width : 41.666666666667%;
}

.col-greatxs-4 {
    width : 33.333333333333%;
}

.col-greatxs-3 {
    width : 25%;
}

.col-greatxs-2 {
    width : 16.666666666667%;
}

.col-greatxs-1 {
    width : 8.3333333333333%;
}

.col-greatxs-right-12 {
    right : 100%;
}

.col-greatxs-right-11 {
    right : 91.666666666667%;
}

.col-greatxs-right-10 {
    right : 83.333333333333%;
}

.col-greatxs-right-9 {
    right : 75%;
}

.col-greatxs-right-8 {
    right : 66.666666666667%;
}

.col-greatxs-right-7 {
    right : 58.333333333333%;
}

.col-greatxs-right-6 {
    right : 50%;
}

.col-greatxs-right-5 {
    right : 41.666666666667%;
}

.col-greatxs-right-4 {
    right : 33.333333333333%;
}

.col-greatxs-right-3 {
    right : 25%;
}

.col-greatxs-right-2 {
    right : 16.666666666667%;
}

.col-greatxs-right-1 {
    right : 8.3333333333333%;
}

.col-greatxs-offset-12 {
    margin-left : 100%;
}

.col-greatxs-offset-11 {
    margin-left : 91.666666666667%;
}

.col-greatxs-offset-10 {
    margin-left : 83.333333333333%;
}

.col-greatxs-offset-9 {
    margin-left : 75%;
}

.col-greatxs-offset-8 {
    margin-left : 66.666666666667%;
}

.col-greatxs-offset-7 {
    margin-left : 58.333333333333%;
}

.col-greatxs-offset-6 {
    margin-left : 50%;
}

.col-greatxs-offset-5 {
    margin-left : 41.666666666667%;
}

.col-greatxs-offset-4 {
    margin-left : 33.333333333333%;
}

.col-greatxs-offset-3 {
    margin-left : 25%;
}

.col-greatxs-offset-2 {
    margin-left : 16.666666666667%;
}

.col-greatxs-offset-1 {
    margin-left : 8.3333333333333%;
}

/* ширина меньше либо равна 400px */
@media (min-width : 399px) {
    .col-great400-1, .col-great400-2, .col-great400-3, .col-great400-4, .col-great400-5, .col-great400-6, .col-great400-7, .col-great400-8, .col-great400-9, .col-great400-10, .col-great400-11, .col-great400-12 {
        float : left;
    }

    .col-great400-12 {
        width : 100%;
    }

    .col-great400-11 {
        width : 91.666666666667%;
    }

    .col-great400-10 {
        width : 83.333333333333%;
    }

    .col-great400-9 {
        width : 75%;
    }

    .col-great400-8 {
        width : 66.666666666667%;
    }

    .col-great400-7 {
        width : 58.333333333333%;
    }

    .col-great400-6 {
        width : 50%;
    }

    .col-great400-5 {
        width : 41.666666666667%;
    }

    .col-great400-4 {
        width : 33.333333333333%;
    }

    .col-great400-3 {
        width : 25%;
    }

    .col-great400-2 {
        width : 16.666666666667%;
    }

    .col-great400-1 {
        width : 8.3333333333333%;
    }

    .col-great400-right-12 {
        right : 100%;
    }

    .col-great400-right-11 {
        right : 91.666666666667%;
    }

    .col-great400-right-10 {
        right : 83.333333333333%;
    }

    .col-great400-right-9 {
        right : 75%;
    }

    .col-great400-right-8 {
        right : 66.666666666667%;
    }

    .col-great400-right-7 {
        right : 58.333333333333%;
    }

    .col-great400-right-6 {
        right : 50%;
    }

    .col-great400-right-5 {
        right : 41.666666666667%;
    }

    .col-great400-right-4 {
        right : 33.333333333333%;
    }

    .col-great400-right-3 {
        right : 25%;
    }

    .col-great400-right-2 {
        right : 16.666666666667%;
    }

    .col-great400-right-1 {
        right : 8.3333333333333%;
    }

    .col-great400-offset-12 {
        margin-left : 100%;
    }

    .col-great400-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great400-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great400-offset-9 {
        margin-left : 75%;
    }

    .col-great400-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great400-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great400-offset-6 {
        margin-left : 50%;
    }

    .col-great400-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great400-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great400-offset-3 {
        margin-left : 25%;
    }

    .col-great400-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great400-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 500px */
@media (min-width : 499px) {
    .col-great500-1, .col-great500-2, .col-great500-3, .col-great500-4, .col-great500-5, .col-great500-6, .col-great500-7, .col-great500-8, .col-great500-9, .col-great500-10, .col-great500-11, .col-great500-12 {
        float : left;
    }

    .col-great500-12 {
        width : 100%;
    }

    .col-great500-11 {
        width : 91.666666666667%;
    }

    .col-great500-10 {
        width : 83.333333333333%;
    }

    .col-great500-9 {
        width : 75%;
    }

    .col-great500-8 {
        width : 66.666666666667%;
    }

    .col-great500-7 {
        width : 58.333333333333%;
    }

    .col-great500-6 {
        width : 50%;
    }

    .col-great500-5 {
        width : 41.666666666667%;
    }

    .col-great500-4 {
        width : 33.333333333333%;
    }

    .col-great500-3 {
        width : 25%;
    }

    .col-great500-2 {
        width : 16.666666666667%;
    }

    .col-great500-1 {
        width : 8.3333333333333%;
    }

    .col-great500-right-12 {
        right : 100%;
    }

    .col-great500-right-11 {
        right : 91.666666666667%;
    }

    .col-great500-right-10 {
        right : 83.333333333333%;
    }

    .col-great500-right-9 {
        right : 75%;
    }

    .col-great500-right-8 {
        right : 66.666666666667%;
    }

    .col-great500-right-7 {
        right : 58.333333333333%;
    }

    .col-great500-right-6 {
        right : 50%;
    }

    .col-great500-right-5 {
        right : 41.666666666667%;
    }

    .col-great500-right-4 {
        right : 33.333333333333%;
    }

    .col-great500-right-3 {
        right : 25%;
    }

    .col-great500-right-2 {
        right : 16.666666666667%;
    }

    .col-great500-right-1 {
        right : 8.3333333333333%;
    }

    .col-great500-offset-12 {
        margin-left : 100%;
    }

    .col-great500-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great500-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great500-offset-9 {
        margin-left : 75%;
    }

    .col-great500-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great500-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great500-offset-6 {
        margin-left : 50%;
    }

    .col-great500-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great500-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great500-offset-3 {
        margin-left : 25%;
    }

    .col-great500-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great500-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 600px */
@media (min-width : 599px) {
    .col-great600-1, .col-great600-2, .col-great600-3, .col-great600-4, .col-great600-5, .col-great600-6, .col-great600-7, .col-great600-8, .col-great600-9, .col-great600-10, .col-great600-11, .col-great600-12 {
        float : left;
    }

    .col-great600-12 {
        width : 100%;
    }

    .col-great600-11 {
        width : 91.666666666667%;
    }

    .col-great600-10 {
        width : 83.333333333333%;
    }

    .col-great600-9 {
        width : 75%;
    }

    .col-great600-8 {
        width : 66.666666666667%;
    }

    .col-great600-7 {
        width : 58.333333333333%;
    }

    .col-great600-6 {
        width : 50%;
    }

    .col-great600-5 {
        width : 41.666666666667%;
    }

    .col-great600-4 {
        width : 33.333333333333%;
    }

    .col-great600-3 {
        width : 25%;
    }

    .col-great600-2 {
        width : 16.666666666667%;
    }

    .col-great600-1 {
        width : 8.3333333333333%;
    }

    .col-great600-right-12 {
        right : 100%;
    }

    .col-great600-right-11 {
        right : 91.666666666667%;
    }

    .col-great600-right-10 {
        right : 83.333333333333%;
    }

    .col-great600-right-9 {
        right : 75%;
    }

    .col-great600-right-8 {
        right : 66.666666666667%;
    }

    .col-great600-right-7 {
        right : 58.333333333333%;
    }

    .col-great600-right-6 {
        right : 50%;
    }

    .col-great600-right-5 {
        right : 41.666666666667%;
    }

    .col-great600-right-4 {
        right : 33.333333333333%;
    }

    .col-great600-right-3 {
        right : 25%;
    }

    .col-great600-right-2 {
        right : 16.666666666667%;
    }

    .col-great600-right-1 {
        right : 8.3333333333333%;
    }

    .col-great600-offset-12 {
        margin-left : 100%;
    }

    .col-great600-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great600-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great600-offset-9 {
        margin-left : 75%;
    }

    .col-great600-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great600-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great600-offset-6 {
        margin-left : 50%;
    }

    .col-great600-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great600-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great600-offset-3 {
        margin-left : 25%;
    }

    .col-great600-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great600-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 700px */
@media (min-width : 699px) {
    .col-great700-1, .col-great700-2, .col-great700-3, .col-great700-4, .col-great700-5, .col-great700-6, .col-great700-7, .col-great700-8, .col-great700-9, .col-great700-10, .col-great700-11, .col-great700-12 {
        float : left;
    }

    .col-great700-12 {
        width : 100%;
    }

    .col-great700-11 {
        width : 91.666666666667%;
    }

    .col-great700-10 {
        width : 83.333333333333%;
    }

    .col-great700-9 {
        width : 75%;
    }

    .col-great700-8 {
        width : 66.666666666667%;
    }

    .col-great700-7 {
        width : 58.333333333333%;
    }

    .col-great700-6 {
        width : 50%;
    }

    .col-great700-5 {
        width : 41.666666666667%;
    }

    .col-great700-4 {
        width : 33.333333333333%;
    }

    .col-great700-3 {
        width : 25%;
    }

    .col-great700-2 {
        width : 16.666666666667%;
    }

    .col-great700-1 {
        width : 8.3333333333333%;
    }

    .col-great700-right-12 {
        right : 100%;
    }

    .col-great700-right-11 {
        right : 91.666666666667%;
    }

    .col-great700-right-10 {
        right : 83.333333333333%;
    }

    .col-great700-right-9 {
        right : 75%;
    }

    .col-great700-right-8 {
        right : 66.666666666667%;
    }

    .col-great700-right-7 {
        right : 58.333333333333%;
    }

    .col-great700-right-6 {
        right : 50%;
    }

    .col-great700-right-5 {
        right : 41.666666666667%;
    }

    .col-great700-right-4 {
        right : 33.333333333333%;
    }

    .col-great700-right-3 {
        right : 25%;
    }

    .col-great700-right-2 {
        right : 16.666666666667%;
    }

    .col-great700-right-1 {
        right : 8.3333333333333%;
    }

    .col-great700-offset-12 {
        margin-left : 100%;
    }

    .col-great700-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great700-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great700-offset-9 {
        margin-left : 75%;
    }

    .col-great700-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great700-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great700-offset-6 {
        margin-left : 50%;
    }

    .col-great700-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great700-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great700-offset-3 {
        margin-left : 25%;
    }

    .col-great700-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great700-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 800px */
@media (min-width : 799px) {
    .col-great800-1, .col-great800-2, .col-great800-3, .col-great800-4, .col-great800-5, .col-great800-6, .col-great800-7, .col-great800-8, .col-great800-9, .col-great800-10, .col-great800-11, .col-great800-12 {
        float : left;
    }

    .col-great800-12 {
        width : 100%;
    }

    .col-great800-11 {
        width : 91.666666666667%;
    }

    .col-great800-10 {
        width : 83.333333333333%;
    }

    .col-great800-9 {
        width : 75%;
    }

    .col-great800-8 {
        width : 66.666666666667%;
    }

    .col-great800-7 {
        width : 58.333333333333%;
    }

    .col-great800-6 {
        width : 50%;
    }

    .col-great800-5 {
        width : 41.666666666667%;
    }

    .col-great800-4 {
        width : 33.333333333333%;
    }

    .col-great800-3 {
        width : 25%;
    }

    .col-great800-2 {
        width : 16.666666666667%;
    }

    .col-great800-1 {
        width : 8.3333333333333%;
    }

    .col-great800-right-12 {
        right : 100%;
    }

    .col-great800-right-11 {
        right : 91.666666666667%;
    }

    .col-great800-right-10 {
        right : 83.333333333333%;
    }

    .col-great800-right-9 {
        right : 75%;
    }

    .col-great800-right-8 {
        right : 66.666666666667%;
    }

    .col-great800-right-7 {
        right : 58.333333333333%;
    }

    .col-great800-right-6 {
        right : 50%;
    }

    .col-great800-right-5 {
        right : 41.666666666667%;
    }

    .col-great800-right-4 {
        right : 33.333333333333%;
    }

    .col-great800-right-3 {
        right : 25%;
    }

    .col-great800-right-2 {
        right : 16.666666666667%;
    }

    .col-great800-right-1 {
        right : 8.3333333333333%;
    }

    .col-great800-offset-12 {
        margin-left : 100%;
    }

    .col-great800-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great800-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great800-offset-9 {
        margin-left : 75%;
    }

    .col-great800-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great800-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great800-offset-6 {
        margin-left : 50%;
    }

    .col-great800-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great800-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great800-offset-3 {
        margin-left : 25%;
    }

    .col-great800-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great800-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 900px */
@media (min-width : 899px) {
    .col-great900-1, .col-great900-2, .col-great900-3, .col-great900-4, .col-great900-5, .col-great900-6, .col-great900-7, .col-great900-8, .col-great900-9, .col-great900-10, .col-great900-11, .col-great900-12 {
        float : left;
    }

    .col-great900-12 {
        width : 100%;
    }

    .col-great900-11 {
        width : 91.666666666667%;
    }

    .col-great900-10 {
        width : 83.333333333333%;
    }

    .col-great900-9 {
        width : 75%;
    }

    .col-great900-8 {
        width : 66.666666666667%;
    }

    .col-great900-7 {
        width : 58.333333333333%;
    }

    .col-great900-6 {
        width : 50%;
    }

    .col-great900-5 {
        width : 41.666666666667%;
    }

    .col-great900-4 {
        width : 33.333333333333%;
    }

    .col-great900-3 {
        width : 25%;
    }

    .col-great900-2 {
        width : 16.666666666667%;
    }

    .col-great900-1 {
        width : 8.3333333333333%;
    }

    .col-great900-right-12 {
        right : 100%;
    }

    .col-great900-right-11 {
        right : 91.666666666667%;
    }

    .col-great900-right-10 {
        right : 83.333333333333%;
    }

    .col-great900-right-9 {
        right : 75%;
    }

    .col-great900-right-8 {
        right : 66.666666666667%;
    }

    .col-great900-right-7 {
        right : 58.333333333333%;
    }

    .col-great900-right-6 {
        right : 50%;
    }

    .col-great900-right-5 {
        right : 41.666666666667%;
    }

    .col-great900-right-4 {
        right : 33.333333333333%;
    }

    .col-great900-right-3 {
        right : 25%;
    }

    .col-great900-right-2 {
        right : 16.666666666667%;
    }

    .col-great900-right-1 {
        right : 8.3333333333333%;
    }

    .col-great900-offset-12 {
        margin-left : 100%;
    }

    .col-great900-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great900-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great900-offset-9 {
        margin-left : 75%;
    }

    .col-great900-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great900-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great900-offset-6 {
        margin-left : 50%;
    }

    .col-great900-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great900-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great900-offset-3 {
        margin-left : 25%;
    }

    .col-great900-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great900-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1000px */
@media (min-width : 999px) {
    .col-great1000-1, .col-great1000-2, .col-great1000-3, .col-great1000-4, .col-great1000-5, .col-great1000-6, .col-great1000-7, .col-great1000-8, .col-great1000-9, .col-great1000-10, .col-great1000-11, .col-great1000-12 {
        float : left;
    }

    .col-great1000-12 {
        width : 100%;
    }

    .col-great1000-11 {
        width : 91.666666666667%;
    }

    .col-great1000-10 {
        width : 83.333333333333%;
    }

    .col-great1000-9 {
        width : 75%;
    }

    .col-great1000-8 {
        width : 66.666666666667%;
    }

    .col-great1000-7 {
        width : 58.333333333333%;
    }

    .col-great1000-6 {
        width : 50%;
    }

    .col-great1000-5 {
        width : 41.666666666667%;
    }

    .col-great1000-4 {
        width : 33.333333333333%;
    }

    .col-great1000-3 {
        width : 25%;
    }

    .col-great1000-2 {
        width : 16.666666666667%;
    }

    .col-great1000-1 {
        width : 8.3333333333333%;
    }

    .col-great1000-right-12 {
        right : 100%;
    }

    .col-great1000-right-11 {
        right : 91.666666666667%;
    }

    .col-great1000-right-10 {
        right : 83.333333333333%;
    }

    .col-great1000-right-9 {
        right : 75%;
    }

    .col-great1000-right-8 {
        right : 66.666666666667%;
    }

    .col-great1000-right-7 {
        right : 58.333333333333%;
    }

    .col-great1000-right-6 {
        right : 50%;
    }

    .col-great1000-right-5 {
        right : 41.666666666667%;
    }

    .col-great1000-right-4 {
        right : 33.333333333333%;
    }

    .col-great1000-right-3 {
        right : 25%;
    }

    .col-great1000-right-2 {
        right : 16.666666666667%;
    }

    .col-great1000-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1000-offset-12 {
        margin-left : 100%;
    }

    .col-great1000-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1000-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1000-offset-9 {
        margin-left : 75%;
    }

    .col-great1000-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1000-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1000-offset-6 {
        margin-left : 50%;
    }

    .col-great1000-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1000-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1000-offset-3 {
        margin-left : 25%;
    }

    .col-great1000-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1000-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1100px */
@media (min-width : 1099px) {
    .col-great1100-1, .col-great1100-2, .col-great1100-3, .col-great1100-4, .col-great1100-5, .col-great1100-6, .col-great1100-7, .col-great1100-8, .col-great1100-9, .col-great1100-10, .col-great1100-11, .col-great1100-12 {
        float : left;
    }

    .col-great1100-12 {
        width : 100%;
    }

    .col-great1100-11 {
        width : 91.666666666667%;
    }

    .col-great1100-10 {
        width : 83.333333333333%;
    }

    .col-great1100-9 {
        width : 75%;
    }

    .col-great1100-8 {
        width : 66.666666666667%;
    }

    .col-great1100-7 {
        width : 58.333333333333%;
    }

    .col-great1100-6 {
        width : 50%;
    }

    .col-great1100-5 {
        width : 41.666666666667%;
    }

    .col-great1100-4 {
        width : 33.333333333333%;
    }

    .col-great1100-3 {
        width : 25%;
    }

    .col-great1100-2 {
        width : 16.666666666667%;
    }

    .col-great1100-1 {
        width : 8.3333333333333%;
    }

    .col-great1100-right-12 {
        right : 100%;
    }

    .col-great1100-right-11 {
        right : 91.666666666667%;
    }

    .col-great1100-right-10 {
        right : 83.333333333333%;
    }

    .col-great1100-right-9 {
        right : 75%;
    }

    .col-great1100-right-8 {
        right : 66.666666666667%;
    }

    .col-great1100-right-7 {
        right : 58.333333333333%;
    }

    .col-great1100-right-6 {
        right : 50%;
    }

    .col-great1100-right-5 {
        right : 41.666666666667%;
    }

    .col-great1100-right-4 {
        right : 33.333333333333%;
    }

    .col-great1100-right-3 {
        right : 25%;
    }

    .col-great1100-right-2 {
        right : 16.666666666667%;
    }

    .col-great1100-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1100-offset-12 {
        margin-left : 100%;
    }

    .col-great1100-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1100-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1100-offset-9 {
        margin-left : 75%;
    }

    .col-great1100-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1100-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1100-offset-6 {
        margin-left : 50%;
    }

    .col-great1100-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1100-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1100-offset-3 {
        margin-left : 25%;
    }

    .col-great1100-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1100-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1200px */
@media (min-width : 1199px) {
    .col-great1200-1, .col-great1200-2, .col-great1200-3, .col-great1200-4, .col-great1200-5, .col-great1200-6, .col-great1200-7, .col-great1200-8, .col-great1200-9, .col-great1200-10, .col-great1200-11, .col-great1200-12 {
        float : left;
    }

    .col-great1200-12 {
        width : 100%;
    }

    .col-great1200-11 {
        width : 91.666666666667%;
    }

    .col-great1200-10 {
        width : 83.333333333333%;
    }

    .col-great1200-9 {
        width : 75%;
    }

    .col-great1200-8 {
        width : 66.666666666667%;
    }

    .col-great1200-7 {
        width : 58.333333333333%;
    }

    .col-great1200-6 {
        width : 50%;
    }

    .col-great1200-5 {
        width : 41.666666666667%;
    }

    .col-great1200-4 {
        width : 33.333333333333%;
    }

    .col-great1200-3 {
        width : 25%;
    }

    .col-great1200-2 {
        width : 16.666666666667%;
    }

    .col-great1200-1 {
        width : 8.3333333333333%;
    }

    .col-great1200-right-12 {
        right : 100%;
    }

    .col-great1200-right-11 {
        right : 91.666666666667%;
    }

    .col-great1200-right-10 {
        right : 83.333333333333%;
    }

    .col-great1200-right-9 {
        right : 75%;
    }

    .col-great1200-right-8 {
        right : 66.666666666667%;
    }

    .col-great1200-right-7 {
        right : 58.333333333333%;
    }

    .col-great1200-right-6 {
        right : 50%;
    }

    .col-great1200-right-5 {
        right : 41.666666666667%;
    }

    .col-great1200-right-4 {
        right : 33.333333333333%;
    }

    .col-great1200-right-3 {
        right : 25%;
    }

    .col-great1200-right-2 {
        right : 16.666666666667%;
    }

    .col-great1200-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1200-offset-12 {
        margin-left : 100%;
    }

    .col-great1200-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1200-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1200-offset-9 {
        margin-left : 75%;
    }

    .col-great1200-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1200-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1200-offset-6 {
        margin-left : 50%;
    }

    .col-great1200-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1200-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1200-offset-3 {
        margin-left : 25%;
    }

    .col-great1200-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1200-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1300px */
@media (min-width : 1299px) {
    .col-great1300-1, .col-great1300-2, .col-great1300-3, .col-great1300-4, .col-great1300-5, .col-great1300-6, .col-great1300-7, .col-great1300-8, .col-great1300-9, .col-great1300-10, .col-great1300-11, .col-great1300-12 {
        float : left;
    }

    .col-great1300-12 {
        width : 100%;
    }

    .col-great1300-11 {
        width : 91.666666666667%;
    }

    .col-great1300-10 {
        width : 83.333333333333%;
    }

    .col-great1300-9 {
        width : 75%;
    }

    .col-great1300-8 {
        width : 66.666666666667%;
    }

    .col-great1300-7 {
        width : 58.333333333333%;
    }

    .col-great1300-6 {
        width : 50%;
    }

    .col-great1300-5 {
        width : 41.666666666667%;
    }

    .col-great1300-4 {
        width : 33.333333333333%;
    }

    .col-great1300-3 {
        width : 25%;
    }

    .col-great1300-2 {
        width : 16.666666666667%;
    }

    .col-great1300-1 {
        width : 8.3333333333333%;
    }

    .col-great1300-right-12 {
        right : 100%;
    }

    .col-great1300-right-11 {
        right : 91.666666666667%;
    }

    .col-great1300-right-10 {
        right : 83.333333333333%;
    }

    .col-great1300-right-9 {
        right : 75%;
    }

    .col-great1300-right-8 {
        right : 66.666666666667%;
    }

    .col-great1300-right-7 {
        right : 58.333333333333%;
    }

    .col-great1300-right-6 {
        right : 50%;
    }

    .col-great1300-right-5 {
        right : 41.666666666667%;
    }

    .col-great1300-right-4 {
        right : 33.333333333333%;
    }

    .col-great1300-right-3 {
        right : 25%;
    }

    .col-great1300-right-2 {
        right : 16.666666666667%;
    }

    .col-great1300-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1300-offset-12 {
        margin-left : 100%;
    }

    .col-great1300-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1300-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1300-offset-9 {
        margin-left : 75%;
    }

    .col-great1300-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1300-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1300-offset-6 {
        margin-left : 50%;
    }

    .col-great1300-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1300-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1300-offset-3 {
        margin-left : 25%;
    }

    .col-great1300-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1300-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1400px */
@media (min-width : 1399px) {
    .col-great1400-1, .col-great1400-2, .col-great1400-3, .col-great1400-4, .col-great1400-5, .col-great1400-6, .col-great1400-7, .col-great1400-8, .col-great1400-9, .col-great1400-10, .col-great1400-11, .col-great1400-12 {
        float : left;
    }

    .col-great1400-12 {
        width : 100%;
    }

    .col-great1400-11 {
        width : 91.666666666667%;
    }

    .col-great1400-10 {
        width : 83.333333333333%;
    }

    .col-great1400-9 {
        width : 75%;
    }

    .col-great1400-8 {
        width : 66.666666666667%;
    }

    .col-great1400-7 {
        width : 58.333333333333%;
    }

    .col-great1400-6 {
        width : 50%;
    }

    .col-great1400-5 {
        width : 41.666666666667%;
    }

    .col-great1400-4 {
        width : 33.333333333333%;
    }

    .col-great1400-3 {
        width : 25%;
    }

    .col-great1400-2 {
        width : 16.666666666667%;
    }

    .col-great1400-1 {
        width : 8.3333333333333%;
    }

    .col-great1400-right-12 {
        right : 100%;
    }

    .col-great1400-right-11 {
        right : 91.666666666667%;
    }

    .col-great1400-right-10 {
        right : 83.333333333333%;
    }

    .col-great1400-right-9 {
        right : 75%;
    }

    .col-great1400-right-8 {
        right : 66.666666666667%;
    }

    .col-great1400-right-7 {
        right : 58.333333333333%;
    }

    .col-great1400-right-6 {
        right : 50%;
    }

    .col-great1400-right-5 {
        right : 41.666666666667%;
    }

    .col-great1400-right-4 {
        right : 33.333333333333%;
    }

    .col-great1400-right-3 {
        right : 25%;
    }

    .col-great1400-right-2 {
        right : 16.666666666667%;
    }

    .col-great1400-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1400-offset-12 {
        margin-left : 100%;
    }

    .col-great1400-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1400-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1400-offset-9 {
        margin-left : 75%;
    }

    .col-great1400-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1400-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1400-offset-6 {
        margin-left : 50%;
    }

    .col-great1400-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1400-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1400-offset-3 {
        margin-left : 25%;
    }

    .col-great1400-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1400-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1500px */
@media (min-width : 1499px) {
    .col-great1500-1, .col-great1500-2, .col-great1500-3, .col-great1500-4, .col-great1500-5, .col-great1500-6, .col-great1500-7, .col-great1500-8, .col-great1500-9, .col-great1500-10, .col-great1500-11, .col-great1500-12 {
        float : left;
    }

    .col-great1500-12 {
        width : 100%;
    }

    .col-great1500-11 {
        width : 91.666666666667%;
    }

    .col-great1500-10 {
        width : 83.333333333333%;
    }

    .col-great1500-9 {
        width : 75%;
    }

    .col-great1500-8 {
        width : 66.666666666667%;
    }

    .col-great1500-7 {
        width : 58.333333333333%;
    }

    .col-great1500-6 {
        width : 50%;
    }

    .col-great1500-5 {
        width : 41.666666666667%;
    }

    .col-great1500-4 {
        width : 33.333333333333%;
    }

    .col-great1500-3 {
        width : 25%;
    }

    .col-great1500-2 {
        width : 16.666666666667%;
    }

    .col-great1500-1 {
        width : 8.3333333333333%;
    }

    .col-great1500-right-12 {
        right : 100%;
    }

    .col-great1500-right-11 {
        right : 91.666666666667%;
    }

    .col-great1500-right-10 {
        right : 83.333333333333%;
    }

    .col-great1500-right-9 {
        right : 75%;
    }

    .col-great1500-right-8 {
        right : 66.666666666667%;
    }

    .col-great1500-right-7 {
        right : 58.333333333333%;
    }

    .col-great1500-right-6 {
        right : 50%;
    }

    .col-great1500-right-5 {
        right : 41.666666666667%;
    }

    .col-great1500-right-4 {
        right : 33.333333333333%;
    }

    .col-great1500-right-3 {
        right : 25%;
    }

    .col-great1500-right-2 {
        right : 16.666666666667%;
    }

    .col-great1500-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1500-offset-12 {
        margin-left : 100%;
    }

    .col-great1500-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1500-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1500-offset-9 {
        margin-left : 75%;
    }

    .col-great1500-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1500-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1500-offset-6 {
        margin-left : 50%;
    }

    .col-great1500-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1500-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1500-offset-3 {
        margin-left : 25%;
    }

    .col-great1500-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1500-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1600px */
@media (min-width : 1599px) {
    .col-great1600-1, .col-great1600-2, .col-great1600-3, .col-great1600-4, .col-great1600-5, .col-great1600-6, .col-great1600-7, .col-great1600-8, .col-great1600-9, .col-great1600-10, .col-great1600-11, .col-great1600-12 {
        float : left;
    }

    .col-great1600-12 {
        width : 100%;
    }

    .col-great1600-11 {
        width : 91.666666666667%;
    }

    .col-great1600-10 {
        width : 83.333333333333%;
    }

    .col-great1600-9 {
        width : 75%;
    }

    .col-great1600-8 {
        width : 66.666666666667%;
    }

    .col-great1600-7 {
        width : 58.333333333333%;
    }

    .col-great1600-6 {
        width : 50%;
    }

    .col-great1600-5 {
        width : 41.666666666667%;
    }

    .col-great1600-4 {
        width : 33.333333333333%;
    }

    .col-great1600-3 {
        width : 25%;
    }

    .col-great1600-2 {
        width : 16.666666666667%;
    }

    .col-great1600-1 {
        width : 8.3333333333333%;
    }

    .col-great1600-right-12 {
        right : 100%;
    }

    .col-great1600-right-11 {
        right : 91.666666666667%;
    }

    .col-great1600-right-10 {
        right : 83.333333333333%;
    }

    .col-great1600-right-9 {
        right : 75%;
    }

    .col-great1600-right-8 {
        right : 66.666666666667%;
    }

    .col-great1600-right-7 {
        right : 58.333333333333%;
    }

    .col-great1600-right-6 {
        right : 50%;
    }

    .col-great1600-right-5 {
        right : 41.666666666667%;
    }

    .col-great1600-right-4 {
        right : 33.333333333333%;
    }

    .col-great1600-right-3 {
        right : 25%;
    }

    .col-great1600-right-2 {
        right : 16.666666666667%;
    }

    .col-great1600-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1600-offset-12 {
        margin-left : 100%;
    }

    .col-great1600-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1600-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1600-offset-9 {
        margin-left : 75%;
    }

    .col-great1600-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1600-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1600-offset-6 {
        margin-left : 50%;
    }

    .col-great1600-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1600-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1600-offset-3 {
        margin-left : 25%;
    }

    .col-great1600-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1600-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1700px */
@media (min-width : 1699px) {
    .col-great1700-1, .col-great1700-2, .col-great1700-3, .col-great1700-4, .col-great1700-5, .col-great1700-6, .col-great1700-7, .col-great1700-8, .col-great1700-9, .col-great1700-10, .col-great1700-11, .col-great1700-12 {
        float : left;
    }

    .col-great1700-12 {
        width : 100%;
    }

    .col-great1700-11 {
        width : 91.666666666667%;
    }

    .col-great1700-10 {
        width : 83.333333333333%;
    }

    .col-great1700-9 {
        width : 75%;
    }

    .col-great1700-8 {
        width : 66.666666666667%;
    }

    .col-great1700-7 {
        width : 58.333333333333%;
    }

    .col-great1700-6 {
        width : 50%;
    }

    .col-great1700-5 {
        width : 41.666666666667%;
    }

    .col-great1700-4 {
        width : 33.333333333333%;
    }

    .col-great1700-3 {
        width : 25%;
    }

    .col-great1700-2 {
        width : 16.666666666667%;
    }

    .col-great1700-1 {
        width : 8.3333333333333%;
    }

    .col-great1700-right-12 {
        right : 100%;
    }

    .col-great1700-right-11 {
        right : 91.666666666667%;
    }

    .col-great1700-right-10 {
        right : 83.333333333333%;
    }

    .col-great1700-right-9 {
        right : 75%;
    }

    .col-great1700-right-8 {
        right : 66.666666666667%;
    }

    .col-great1700-right-7 {
        right : 58.333333333333%;
    }

    .col-great1700-right-6 {
        right : 50%;
    }

    .col-great1700-right-5 {
        right : 41.666666666667%;
    }

    .col-great1700-right-4 {
        right : 33.333333333333%;
    }

    .col-great1700-right-3 {
        right : 25%;
    }

    .col-great1700-right-2 {
        right : 16.666666666667%;
    }

    .col-great1700-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1700-offset-12 {
        margin-left : 100%;
    }

    .col-great1700-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1700-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1700-offset-9 {
        margin-left : 75%;
    }

    .col-great1700-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1700-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1700-offset-6 {
        margin-left : 50%;
    }

    .col-great1700-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1700-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1700-offset-3 {
        margin-left : 25%;
    }

    .col-great1700-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1700-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1800px */
@media (min-width : 1799px) {
    .col-great1800-1, .col-great1800-2, .col-great1800-3, .col-great1800-4, .col-great1800-5, .col-great1800-6, .col-great1800-7, .col-great1800-8, .col-great1800-9, .col-great1800-10, .col-great1800-11, .col-great1800-12 {
        float : left;
    }

    .col-great1800-12 {
        width : 100%;
    }

    .col-great1800-11 {
        width : 91.666666666667%;
    }

    .col-great1800-10 {
        width : 83.333333333333%;
    }

    .col-great1800-9 {
        width : 75%;
    }

    .col-great1800-8 {
        width : 66.666666666667%;
    }

    .col-great1800-7 {
        width : 58.333333333333%;
    }

    .col-great1800-6 {
        width : 50%;
    }

    .col-great1800-5 {
        width : 41.666666666667%;
    }

    .col-great1800-4 {
        width : 33.333333333333%;
    }

    .col-great1800-3 {
        width : 25%;
    }

    .col-great1800-2 {
        width : 16.666666666667%;
    }

    .col-great1800-1 {
        width : 8.3333333333333%;
    }

    .col-great1800-right-12 {
        right : 100%;
    }

    .col-great1800-right-11 {
        right : 91.666666666667%;
    }

    .col-great1800-right-10 {
        right : 83.333333333333%;
    }

    .col-great1800-right-9 {
        right : 75%;
    }

    .col-great1800-right-8 {
        right : 66.666666666667%;
    }

    .col-great1800-right-7 {
        right : 58.333333333333%;
    }

    .col-great1800-right-6 {
        right : 50%;
    }

    .col-great1800-right-5 {
        right : 41.666666666667%;
    }

    .col-great1800-right-4 {
        right : 33.333333333333%;
    }

    .col-great1800-right-3 {
        right : 25%;
    }

    .col-great1800-right-2 {
        right : 16.666666666667%;
    }

    .col-great1800-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1800-offset-12 {
        margin-left : 100%;
    }

    .col-great1800-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1800-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1800-offset-9 {
        margin-left : 75%;
    }

    .col-great1800-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1800-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1800-offset-6 {
        margin-left : 50%;
    }

    .col-great1800-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1800-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1800-offset-3 {
        margin-left : 25%;
    }

    .col-great1800-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1800-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

/* ширина меньше либо равна 1900px */
@media (min-width : 1899px) {
    .col-great1900-1, .col-great1900-2, .col-great1900-3, .col-great1900-4, .col-great1900-5, .col-great1900-6, .col-great1900-7, .col-great1900-8, .col-great1900-9, .col-great1900-10, .col-great1900-11, .col-great1900-12 {
        float : left;
    }

    .col-great1900-12 {
        width : 100%;
    }

    .col-great1900-11 {
        width : 91.666666666667%;
    }

    .col-great1900-10 {
        width : 83.333333333333%;
    }

    .col-great1900-9 {
        width : 75%;
    }

    .col-great1900-8 {
        width : 66.666666666667%;
    }

    .col-great1900-7 {
        width : 58.333333333333%;
    }

    .col-great1900-6 {
        width : 50%;
    }

    .col-great1900-5 {
        width : 41.666666666667%;
    }

    .col-great1900-4 {
        width : 33.333333333333%;
    }

    .col-great1900-3 {
        width : 25%;
    }

    .col-great1900-2 {
        width : 16.666666666667%;
    }

    .col-great1900-1 {
        width : 8.3333333333333%;
    }

    .col-great1900-right-12 {
        right : 100%;
    }

    .col-great1900-right-11 {
        right : 91.666666666667%;
    }

    .col-great1900-right-10 {
        right : 83.333333333333%;
    }

    .col-great1900-right-9 {
        right : 75%;
    }

    .col-great1900-right-8 {
        right : 66.666666666667%;
    }

    .col-great1900-right-7 {
        right : 58.333333333333%;
    }

    .col-great1900-right-6 {
        right : 50%;
    }

    .col-great1900-right-5 {
        right : 41.666666666667%;
    }

    .col-great1900-right-4 {
        right : 33.333333333333%;
    }

    .col-great1900-right-3 {
        right : 25%;
    }

    .col-great1900-right-2 {
        right : 16.666666666667%;
    }

    .col-great1900-right-1 {
        right : 8.3333333333333%;
    }

    .col-great1900-offset-12 {
        margin-left : 100%;
    }

    .col-great1900-offset-11 {
        margin-left : 91.666666666667%;
    }

    .col-great1900-offset-10 {
        margin-left : 83.333333333333%;
    }

    .col-great1900-offset-9 {
        margin-left : 75%;
    }

    .col-great1900-offset-8 {
        margin-left : 66.666666666667%;
    }

    .col-great1900-offset-7 {
        margin-left : 58.333333333333%;
    }

    .col-great1900-offset-6 {
        margin-left : 50%;
    }

    .col-great1900-offset-5 {
        margin-left : 41.666666666667%;
    }

    .col-great1900-offset-4 {
        margin-left : 33.333333333333%;
    }

    .col-great1900-offset-3 {
        margin-left : 25%;
    }

    .col-great1900-offset-2 {
        margin-left : 16.666666666667%;
    }

    .col-great1900-offset-1 {
        margin-left : 8.3333333333333%;
    }

}

.hidden {
    display : none !important;
}

.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display : none !important;
}

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
    display : none !important;
}

@media (max-width : 767px) {
    .visible-xs {
        display : block !important;
    }

    table.visible-xs {
        display : table !important;
    }

    tr.visible-xs {
        display : table-row !important;
    }

    th.visible-xs,
    td.visible-xs {
        display : table-cell !important;
    }
}

@media (max-width : 767px) {
    .visible-xs-block {
        display : block !important;
    }
}

@media (max-width : 767px) {
    .visible-xs-inline {
        display : inline !important;
    }
}

@media (max-width : 767px) {
    .visible-xs-inline-block {
        display : inline-block !important;
    }
}

@media (min-width : 768px) and (max-width : 991px) {
    .visible-sm {
        display : block !important;
    }

    table.visible-sm {
        display : table !important;
    }

    tr.visible-sm {
        display : table-row !important;
    }

    th.visible-sm,
    td.visible-sm {
        display : table-cell !important;
    }
}

@media (min-width : 768px) and (max-width : 991px) {
    .visible-sm-block {
        display : block !important;
    }
}

@media (min-width : 768px) and (max-width : 991px) {
    .visible-sm-inline {
        display : inline !important;
    }
}

@media (min-width : 768px) and (max-width : 991px) {
    .visible-sm-inline-block {
        display : inline-block !important;
    }
}

@media (min-width : 992px) and (max-width : 1199px) {
    .visible-md {
        display : block !important;
    }

    table.visible-md {
        display : table !important;
    }

    tr.visible-md {
        display : table-row !important;
    }

    th.visible-md,
    td.visible-md {
        display : table-cell !important;
    }
}

@media (min-width : 992px) and (max-width : 1199px) {
    .visible-md-block {
        display : block !important;
    }
}

@media (min-width : 992px) and (max-width : 1199px) {
    .visible-md-inline {
        display : inline !important;
    }
}

@media (min-width : 992px) and (max-width : 1199px) {
    .visible-md-inline-block {
        display : inline-block !important;
    }
}

@media (min-width : 1200px) {
    .visible-lg {
        display : block !important;
    }

    table.visible-lg {
        display : table !important;
    }

    tr.visible-lg {
        display : table-row !important;
    }

    th.visible-lg,
    td.visible-lg {
        display : table-cell !important;
    }
}

@media (min-width : 1200px) {
    .visible-lg-block {
        display : block !important;
    }
}

@media (min-width : 1200px) {
    .visible-lg-inline {
        display : inline !important;
    }
}

@media (min-width : 1200px) {
    .visible-lg-inline-block {
        display : inline-block !important;
    }
}

@media (max-width : 767px) {
    .hidden-xs {
        display : none !important;
    }
}

@media (min-width : 768px) and (max-width : 991px) {
    .hidden-sm {
        display : none !important;
    }
}

@media (min-width : 992px) and (max-width : 1199px) {
    .hidden-md {
        display : none !important;
    }
}

@media (min-width : 1200px) {
    .hidden-lg {
        display : none !important;
    }
}

.visible-print {
    display : none !important;
}

@media print {
    .visible-print {
        display : block !important;
    }

    table.visible-print {
        display : table !important;
    }

    tr.visible-print {
        display : table-row !important;
    }

    th.visible-print,
    td.visible-print {
        display : table-cell !important;
    }
}

.visible-print-block {
    display : none !important;
}

@media print {
    .visible-print-block {
        display : block !important;
    }
}

.visible-print-inline {
    display : none !important;
}

@media print {
    .visible-print-inline {
        display : inline !important;
    }
}

.visible-print-inline-block {
    display : none !important;
}

@media print {
    .visible-print-inline-block {
        display : inline-block !important;
    }
}

@media print {
    .hidden-print {
        display : none !important;
    }
}    
    